<div class="container">
<div>Klientų administravimas</div>
<div>{{{user}}}</div>
<a href="/logout">Logout</a>
</div>
<style>
    .container{
    display: flex;
    
    }
</style>

{{!-- <img src="/assets/img/download.png" alt="" /> --}}