<form method="POST" action="/form-submit">
    <input type="text" name="company" placeholder="Įmonės pavadinimas" /><br/>
    <input type="text" name="name" placeholder="Vardas" /><br/>
    <input type="text" name="surname" placeholder="Pavardė" /><br/>
    <input type="text" name="address" placeholder="Adresas" /><br/>
    <input type="text" name="phone" placeholder="Telefono numeris" /><br/>
    <input type="text" name="email" placeholder="El. pašto adresas" /><br/>
    <input type="text" name="pvm" placeholder="PVM kodas" /><br/>
    <button type="Submit">Siųsti</button><br/>
</form>

<style>
    input{
        margin-left: 1%;
    }
    button{
        margin-left: 5%;
    }
</style>