.menu-list{
    width: 50%;
    color: #fff;
    margin-top: 20px;
    li{
        margin: 5px;
        padding: 5px;
    }
    .first{
        background-color: red;
    }
    .second{
        background-color: aqua;
    }
    .third{
        background-color: black;
    }
    .fourth{
        background-color: green;
    }
}